<launch>

	<!-- Load Parameters From the Config File -->
    <rosparam file ="$(find pkg_ros_iot_bridge)/config/config_pyiot.yaml"/>

	<!-- Launch Task-6 Simulation Environment in Gazebo -->
	<include file="$(find pkg_vb_sim)/launch/task6_simulation.launch" />    
	<!-- Launch the UR5_1 and UR5_2 with RVIZ -->
	<include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" />

	<!-- Launch ROS IoT action server node -->
	<node name= "node_action_server_ros_iot_bridge" pkg= "pkg_ros_iot_bridge" type="node_action_server_ros_iot_bridge.py" output="screen"/>

	<!-- Launch ur5_1 node -->
	<node name= "node_ur5_1" pkg= "pkg_task5" type="node_ur5_1.py" output="screen"/>
	<!-- Launch ur5_2 node -->
	<node name= "node_ur5_2" pkg= "pkg_task5" type="node_ur5_2.py" output="screen"/>

	<!-- Recording Bag File for Submission -->
    <arg name="record" default="false"/>
    <arg name="rec_name" default="t5.bag"/>
    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task5)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1 /eyrc/vb/ur5_2/vacuum_gripper/logical_camera/ur5_2" output="screen"/>
 	</group>

</launch>
